<h1>Add new service</h1>

<form action="/add" method="POST">
    <div class="input-field">
        <input id="title" type="text" name="title" class="validate" required>
        <label for="title">Service name</label>
        <span class="helper-text" data-error="Enter service name"></span>
    </div>
    <div class="input-field">
        <input id="price" type="number" name="price" class="validate" required min="1">
        <label for="price">Service price</label>
        <span class="helper-text" data-error="Enter service price"></span>
    </div>
    <div class="input-field">
        <input id="img" type="text" name="img" class="validate" required>
        <label for="img">Image URL</label>
        <span class="helper-text" data-error="Enter service image URL"></span>
    </div>
    <button class="btn btn-primary">Add service</button>
</form>